@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Lobster&family=Satisfy&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: serif;
  padding: 0;
  background-color: #F5FFFA;
  background-size: auto;
}
p{
  line-height: 1.3em;
}

main{
  text-align: center;
  padding: 20px;
  overflow: auto;
}
h3 {
  background-color: #F5DEB3;
  line-height: 2em;
}
img{
  width: 650px;
}
main a{
  font-weight: 400;
  text-decoration: none;
  color: #4169E1;
}
main a:hover{
  font-weight: bold;
  color: 	#90EE90;
}
main h1{
  font-family: 'Lobster';
  color: black;
  text-shadow: 3px 3px 1px #FFD700;
}
.card{
  box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: #FFFFF0;
  background-size: auto;
}
.jumbotron{
  font-family: 'Flavors';
  font-size: 22px;
  padding: 15px;
  text-align: center;
  background-color: tomato;
  background-size: auto;
  color: #FFFACD;
  text-shadow: 5px 5px 0px #708090;
}
header{
  display: inline;
}
nav{
  background-color:	#7B68EE;
  padding:10px;
  position: sticky;
  top: 0;
}
nav a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFACD;
}
nav a:hover{
  font-weight: bold;
  color: 	#90EE90;
}
nav li {
  display: inline;
  list-style-type: none;
  margin-right: 25px;
}
#content{
  float: left;
  width: 72%;
}
.profil header{
  font-family: 'Lobster';
  font-size: 18px;
  text-align: center;
  text-shadow: 3px 3px 0px #F0E68C;
}
aside{
  float: right;
  width: 28%;
  padding-left: 25px;
  text-align: center;
}
table{
  margin: 0 auto;
}
.atas{
  margin: 5px;
  text-align: right;
}
.atas a{
  color: #E0FFFF;
  text-decoration: none;
  font-weight: bold;
}
.atas a:hover{
  color: 	#DA70D6;
  font-style: italic;
}
footer {
  padding: 5px;
  color: #FFFACD;
  background-color: #7B68EE;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  #content,
  aside{
    width: 100%;
    padding: 0;
  }
}
